.buttonContainer{
     display: flex;
     margin: 10px;
     justify-content: center;
}

#canvas{
     display: block;
     margin-left: auto;
     margin-right: auto;
}

button{
     display: block;
     font-size: 20px;
     border-radius: 15px;
     width: 90px;
     height: 60px;
     background-color: white;
     border: black solid 5px;
     cursor: pointer;
     margin: 0px 10px;
}

#guess{
     display: block;
     width: 160px;
     height: 160px;
     margin: 20px auto;
     border: 2px black solid;
     line-height: 160px;
     font-size: 160px;
     text-align: center;
}